<div class="sections">
    <div class="subsection">
        <h2>Kickoff Meeting</h2>
        <p>Come to our kickoff meeting at the beginning of each semester to learn more about the clubs.</p>
    </div>
    <div class="subsection">
        <h2>LAN Parties</h2>
        <p>We'll ocationally host LAN parties in OU. Announced over email. Bring games and friends.</p>
    </div>
    <div class="subsection">
        <h2>Get involved</h2>
        <p>No need to be an IT major. All are welcome.</p>
    </div>
</div>