button {
    animation: 0.8s ease 0s 1 normal forwards fadeIn;
    animation-fill-mode: both;
    visibility: visible;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);        
    }
}