* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif; 
}

p {
    line-height: 1.5;
    font-size: 1.2em;
}

button {
    padding: .5em 1.5em;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-size: 1.3em;
    text-transform: uppercase;
    transition-duration: .2s;    
}

button:hover {
    background: var(--p-dark);
    border-color: var(--p-dark);
    color: white;
    transition-duration: .2s;
    cursor: pointer;
}

.container {
    width: 90%;
    margin: 1em auto;
}

.centered {
    text-align: center;
}

.header {
    background: var(--primary);
    color: white;
    padding: 5em 2em;
    // text-align: center;
}

.header h1 {
    font-size: 3em;
    margin: 0;
}

.header p {
    max-width: 800px;
    margin: 2em auto;
}

.about {
    color: #263238; 
    padding: 2em 0;
}

.about p {
    max-width: 800px;
}