body {
    // --primary: #c00;
    // --secondary: #900;

    --primary: #c62828;
    --p-light: #ff5f52;
    --p-dark: #8e0000;
    --highlight: blue;

    --secondary: #37474f;
    --s-light: #62727b;
    --s-dark: #102027;
}