* {
    box-sizing: border-box;
}

::selection {
    background: #C5CAE9;
}

body {
    background: transparent;
    margin: 0;
    font-family: "Lato", sans-serif; 
    --primary: #c00;
    --secondary: #900;   
}

p {
    line-height: 1.5;
    font-size: 1.2em;
}

.container {
    width: 90%;
    margin: 1em auto;
}

.centered {
    text-align: center;
}

button {
    padding: .5em 1.5em;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-size: 1.3em;
    text-transform: uppercase;
    transition-duration: .2s;    
}

button:hover {
    background: var(--secondary);
    border-color: var(--secondary);
    color: white;
    transition-duration: .2s;
    cursor: pointer;
}

.header {
    background: var(--primary);
    color: white;
    padding: 5em 2em;
    text-align: center;
}

h1, p, button {
    animation: 0.8s ease 0s 1 normal forwards fadeIn;
    animation-fill-mode: both;
    visibility: visible;
}

.header h1 {
    text-shadow: 0 -5px 0 var(--secondary); 
    color: white;
    font-size: 4em;
    margin: 0;
}

.header p {
    max-width: 800px;
    margin: 2em auto;
}

.about {
    color: #263238; 
    padding: 5em 2em;
}

.about p {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);        
    }
}